<!DOCTYPE html>
<html lang="en">
<style>
.body{

    background-color: #D8D8D8;
<!--    border-radius: 20px;-->
<!--    width: 300px;-->
<!--    height: 350px;-->
<!--    position: absolute;-->

<!--    left: 50%;-->
<!--    top: 50%;-->
<!--    transform: translate(-50%,-50%);-->
}
</style>
<head>
    <meta charset="UTF-8">
    {% include "title.html" %}
    <title>招投标公告信息</title>
    <h1>地区排名</h1>
</head>

<body class="body">

<table border="1" cellspacing="2" cellpadding="2">
    <thead>
    <!--          #这里是表头-->
    <tr>
        <th>公告名称</th>
        <th>发布机构</th>
<!--        <th>邮箱</th>-->
    </tr>
    </thead>
    <tbody>
    <!--          #循环获取数据-->
    {% for row in result %}
    <tr>
        <td>{{ row.region }}</td>
        <td>{{ row.count }}</td>
<!--        <td>{{ row.view_cont }}</td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>