<!--通用标题页面-->

<style>
.main{
    text-align: center;
    background-color: #D8D8D8;
<!--    border-radius: 20px;-->
<!--    width: 300px;-->
<!--    height: 350px;-->
<!--    position: absolute;-->

<!--    left: 50%;-->
<!--    top: 50%;-->
<!--    transform: translate(-50%,-50%);-->
}

</style>

<div class="main">

    <a href="/tender">首页</a>|
    <a href="/tender">爬虫控制</a>|
    <a href="/view">浏览量排名</a>|
    <a href="/region">地区排名</a>
    <a href="/region">行业排名</a>
    <a href="/search">公告搜索</a>
    <hr />
</div>